
/* 
color palette: 

mint #d9e7c1
beige #faebd7
stone #c1cdc1
dark nude #cc9966
light nude #fdd1a5 */

/* targetted every section TAG by using just it's name as the selector */
section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

}

#about {
    
}

#menu {

}

/* targetting the chefs ID using hashtag in front */
#chefs {

}

/* targetted the card class using the full stop in front */
.card {
    padding: 15%;
}

